mat-card-title.mat-card-title {
  text-align: center;
}

mat-card-actions.mat-card-actions {
  text-align: center;
}

#button {
  margin: 12px;
  width: 50%;
}

@media only screen and (max-width: 900px) {
  mat-card.mat-card.mat-focus-indicator {
    max-width: 70% !important;
  }
}

@media only screen and (max-width: 600px) {
  mat-card.mat-card.mat-focus-indicator {
    max-width: 80% !important;
  }
}

@media only screen and (max-width: 500px) {
  mat-card.mat-card.mat-focus-indicator {
    max-width: 90% !important;
  }
}
